################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UsuarioLib/bin/Debug/net6.0
/UsuarioLib/obj
